
/* CSS Vaiables*/
:root {
    --loadclr1: rgb(158, 157, 157);
    --loadclr2: rgb(41, 2, 41);
    --loadclr3: rgb(158, 157, 157);
    --dark:#333;
    --light:rgb(44, 26, 59);
    --Shadow: 0 1px 5px rgba(104,104,104,0.8);
}



html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body{
    
    margin: 10px 20px;
    line-height: 1.4;
    background-color: var(--loadclr1);
    /* background-image: url("/img/back.gif");
    background-position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;  */
    overflow: scroll;
    

}

.hidden {
    display: none;
}

.shown {
    display: flex;
}


#particles-js{
 
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    
    justify-content: center;
    align-items: center;
    overflow:visible ;
}



.btn {
    
    color: var(--loadclr2);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    text-decoration: underline;
    border: 0;
}

.btn:hover {
    opacity: 50%
}   dxcfv


img {
    max-width: 100%;
}

/* loader */

.loader-wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--loadclr1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;



    
}
.loader {

    --i:2s;
    
    border: 1rem solid var(--loadclr3);
    border-radius: 50%;
    border-top: 1rem solid var(--loadclr2);
    width: 9rem;
    height: 9rem;
    animation: spin var(--i) linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--loadclr3);
    
    
}
.loader-inner {

    
    
    border: 1rem solid var(--loadclr3);
    border-radius: 50%;
    border-top: 1rem solid var(--loadclr2);
    
    width: 7rem;
    height: 7rem;
    animation: spin var(--i) linear infinite; 
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.loader-inner1 {

    
    
    border: 1rem solid var(--loadclr3);
    border-radius: 50%;
    border-top: 1rem solid var(--loadclr2);
    width: 5rem;
    height: 5rem;
    animation: spin var(--i) linear infinite; 
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.loader-inner2 {

    
    
    border: 1rem solid var(--loadclr3);
    border-radius: 50%;
    border-top: 1rem solid var(--loadclr2);
    width: 3rem;
    height: 3rem;
    animation: spin var(--i) linear infinite; 
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.loader-inner3 {

    
    
    border: 1rem solid var(--loadclr3);
    border-radius: 50%;
    border-top: 1rem solid var(--loadclr2);
    width: 1rem;
    height: 1rem;
    animation: spin var(--i) linear infinite; 
    
   
    
}


.wrapper {
    display: grid;
    grid-gap: 20px; /*change this itd obsolute*/
      
}

/*Navigation*/
.main-nav ul {
    display: grid;
    grid-gap: 0px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
    background-color: var();
    float: right;

}

.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.4rem ;
    text-align: center;
    color: var(--light);
    /* text-transform: uppercase; */
    font-size: 1.3rem;
    /* box-shadow: var(--Shadow); */
    
}

.main-nav a:hover {
    /* background: var(--dark); */
    color: var(--light);
    border-bottom: 1px solid var(--light);
}

/* boonste container */
.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        'showcase showcase top-box-a'
        'showcase showcase top-box-b';
}

/* showcase */
.showcase {
    grid-area: showcase;
    min-height: 30rem;
    
    background: url(../img/face1.png);
    background-repeat: no-repeat;
    background-size: 26rem;
    background-position: left;
    padding: 0 0 0 27rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    
}

.showcase h1 {
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0;
    color: var(--light);
    
}

.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
}

.top-box .school {
    font-size: 1.5rem;
}

/* boonste boks */
.top-box {
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--Shadow);
    padding: 1.5rem;
}
.top-box-a {
    grid-area: top-box-a;
    border-radius: 10%;
    
}
.top-box-b {
    grid-area: top-box-b;
    border-radius: 10%;
    
}

/* boxes*/
.boxes {
    
    background-color:rgba(104,104,104,0.8);
    z-index: 1;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    opacity: 1;
    box-shadow: var(--Shadow);
    

}

.box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    
    border-radius: 10%;
}
.box h6{
    font-size: 1.1rem;
    color: black;
    text-decoration: underline;
}

/* info */

.info {
    
    background-color:rgba(104,104,104,0.8);
    box-shadow: var(--Shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem;
}
.info img{
    max-width: 20rem;
}

/* portfolio */
.portfolio {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}

.portfolio img {
    width: 100%;
    box-shadow: var(--Shadow);
}


.table-responsive{
    background-color: black;
    
}
.table-responsive tbody{
    background-color: rgb(158, 157, 157); 
}

.table-responsive td{
    background-color: rgb(158, 157, 157); 
    width: 200rem; 
}

.table-info{
    color:white;
    background-color: rgba(104,104,104,0.8);
    
}








/* footer */
footer {
    margin-top: 2rem;
    background: var(--dark);
    color: white;
    text-align: center;
    padding: 1rem;
}



/* media queries */
@media(max-width: 1000px){
    .top-container{
        
        grid-template-areas: 
            'showcase showcase'
            'top-box-a top-box-b';
    }
    .showcase{
        padding: 0 0 0 0rem;
        
    }
    .showcase h1 {
        
        font-size: 2.5rem;
    }
    .main-nav ul{
        
        float: left;
        grid-template-columns: 1fr;
        
    }
    .info {
        
        grid-template-columns: 1fr;
    }
    .info .btn{
        display: block;
        text-align: center;
        margin: auto;
    }
}
@media(max-width: 600px){
    .top-container{
        grid-template-areas: 
            'showcase'
            'top-box-a top-box-b'
            ;
        width: 32rem;
    }
    .loader{
        float: left;
    }
    
    .info {
        
        width: 15rem;
    }
    .info img{
        max-width: 15rem;
    }
    .loader{
        float: left;
    }
    

}
@media(max-width: 400px){
    .top-container{
        grid-template-areas: 
            'showcase'
            'top-box-a top-box-b'
            ;
        width: 15rem;
    }
   
    .loader{
        float: left;
    }
    

}
#slideshow {
    overflow: hidden;
    height: 510px;
    width: 100%;
    margin: 0 auto;
  }
  
  .slide-wrapper {
    width: 10912px;
    animation: slide 40s linear infinite;
  }
  
  .slide {
    float: left;
    height: 510px;
    width: 728px;
  }
  
  .slide:nth-child(1) {
    background-image: url("https://source.unsplash.com/random/728x512");
    background-repeat: no-repeat;
    background-size: contain;

  }
  
  .slide:nth-child(2) {
    background-image: url("https://source.unsplash.com/random/728x511");
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .slide:nth-child(3) {
    background-image: url("https://source.unsplash.com/random/728x513");
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .slide:nth-child(4) {
    background-image: url("https://source.unsplash.com/random/728x514");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .slide:nth-child(5) {
    background-image: url("https://source.unsplash.com/random/728x516");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .slide:nth-child(6) {
    background-image: url("https://source.unsplash.com/random/727x514");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .slide:nth-child(7) {
    background-image: url("https://source.unsplash.com/random/726x514");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .slide:nth-child(8) {
    background-image: url("https://source.unsplash.com/random/725x514");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .slide:nth-child(9) {
    background-image: url("https://source.unsplash.com/random/724x514");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .slide:nth-child(10) {
    background-image: url("https://source.unsplash.com/random/723x514");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .slide:nth-child(11) {
    background-image: url("https://source.unsplash.com/random/723x515");
    background-repeat: no-repeat;
    background-size: contain;
  }

  @keyframes slide {
    20% {margin-left: 0px;}
    90% {margin-left: -6700px;}
  }
  

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


 @media only screen and (max-width: 768px) {
    .demo .main-title {
       font-size: 3em;
    }
 }

 